{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<div class="reg-form">
    <div>
        <h1>Авторизация</h1>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="form-group">
                <label for="inputUsername" class="sr-only">Логин</label>
                <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" placeholder="Логин" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Пароль</label>
                <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Пароль" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox">
                <input type="checkbox" id="remember_me" name="_remember_me" />
                <label for="remember_me">Запомнить меня</label>
            </div>

            <div class="reg-submit-container form-group">
                <button class="reg-submit" type="submit">
                    Войти
                </button>
            </div>
        </form>

        <div>Нажимая кнопку "Отправить" вы подтверждаете согласие на обработку
          <a href="{{ path('soglasie') }}" target="_blank">персональных данных</a>
        </div>

    </div>
</div>
{% endblock %}
