###> symfony/framework-bundle ###
/.env
/.env.test
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/config/packages/twig.yaml
/public/dompdf-tagged-pdf/
/public/images/
/public/oop/
/public/file.pdf
/public/newspaper.php
/public/nfl.php
/var/
/vendor/
/bin/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/.idea/
/nfl/
###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

*.lock
.vscode/
/public/images/

/config/params.yaml
###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

/robots.txt
/composer-setup.php
/composer.phar
/www.sokolstat.ru