<h1>Приветствуем! Пожалуйста, подтвердите свой аккаунт!</h1>

<p>
    Пожалуйста, подтвердите свой аккаунт на сайте sokolstat.ru, перейдя по следующей ссылке: <br><br>
    <a href="{{ signedUrl|raw }}">Подтвердить аккаунт</a>.
    Эта ссылка будет действительна {{ expiresAt|date('g') }} час(а, ов).
</p>

<p>
    Успехов!
</p>
