* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
body {
	background-color: #faf9e6;
	width: 100%;
}
a.dropdown-top:hover { padding: 2px 10px 5px; }
h1{
  color: #5c4b4b;
  display: block;
  margin-top: 8px;
  text-align: center;
}
header {
    width: 100%;
    height: 65px;
}
header,
.panel-box,
.panel-drop,
.letters-list{
  background-color: #993366;
}
li.dropdown-top {
    position: relative;
    display: inline;
    float: left;
    vertical-align: top;
    height: 45px;
}
li.dropdown-top a {
    padding: 3px 10px 4px;
    display: block;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
li.dropdown-top:hover {
    /*background: #660033;*/
}
li.dropdown-top:hover .dropdown-inside {
    display: block;
    left: 0;
 }
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
#authMenu {
    position: absolute;
    left: 670px;
}
#birth {
    vertical-align: top;
}
.bomb5 {
    width: 200px;
}
#champMainMenu {
    position: absolute;
    left: 85px;
}
#column {
    width: 25%;
    vertical-align: top;
    background-color: #FFFFFF;
    border-right: 2px solid #09B;
}
#content_default {
    width: 75%;
}
#eurocupMainMenu {
    position: absolute;
    left: 220px;
}
footer {
    background-color: #CCCCCC;
		flex: 0 0 auto;
    padding-top: 10px;
}
#menuChamp {
    width: 150px;
    height: 40px;
    position: absolute;
    left: 85px;
    top: 74px;
}
#mundialMainMenu {
    position: absolute;
    left: 370px;
}
#name_site {
    width: 200px;
    height: 41px;
}
#playersMainMenu {
    position: absolute;
    left: 520px;
}
#rfplmatch_bomb,
#rfplmatch2_bomb,
#tour_bomb,
#tour_match_bomb,
#tour_edit_bomb,
#nation_cup2_bomb,
#mundial_goal,
#mundial_game,
#mundial_game2,
#cup2_bomb,
#cup2_game,
#cup2_game2,
#task_description,
#mundial_penalty {
  width: 600px;
}
.arrow {
    width: 25px;
    height: 15px;
}
.articles-return.btn-success{
  background-color: #366;
}
.articles-return.btn-success a{
  color: #fff;
  font-weight: bold;
}
.articles-return.btn-success:hover{
  background-color: #5aa16e;
}
.bomb5 {
    width: 200px;
}
.bombName {width: 190px}
.bombTeam {
    width: 100px;
    font-size: 12px;
}
.bombTop5 {
    width: 370px;
    vertical-align: top;
}
.panel-success > .panel-heading {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    background-color: #366;
    color: #fff;
}
.sidebar .panel-success > .panel-heading{
  background-color: #603;
}
.panel-success > .panel-body.calendar{
  padding-top: 0;
  padding-bottom: 0;
}
.panel-success > .panel-body.top-bomb{
  padding: 0;
}
.panel-success > .panel-heading + .panel-body ul{
    margin: 5px;
    padding: 0;
}
.panel-success > .panel-heading + .panel-body ul li{
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
}
.panel-success > .panel-heading.title-news,
.title-news a{
    color: #fff;
    font-weight: bold;
    font-size: 16px
}
.panel-body.news{
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
}
.bottom-menu{
  margin: 15px;
}
.bottom-menu li{
  list-style-type: none;
}
.bottom-menu > li{
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  font-size: 17px;
}
.bottom-menu li a{
  color: #5c4b4b;
}
.bottom-menu li ul{
  margin-left: 10px;
  font-size: 15px;
}
.calendar-today{
    background-color: #fff;
}
.champBombTitle {
    font-weight: bold;
    text-align: center;
}
.champTourScore {
    text-align: center;
    font-weight: bold;
    background-color: #936;
    width: 17px;
    color: #FFFFFF;
}
.champTourTeam {
    text-align: center;
    font-weight: bold;
    background-color: #6fbd90;
    min-width: 110px;
    max-width: 120px;
}
.champTourTeam a{
  color: #000;
  text-decoration: none;
}
.champTourTeam.nhl-match-team {
    max-width: 320px;
}
.champTourImage {
    background-color: #fff;
    width: 51px;
    text-align: center;
}
.champ-show-table tbody tr{
  height: 25px;
}
.champ-show-table .tr-admin{
  height: 18px;
}
.champ-teams-list{
  display: table;
  margin: auto;
}
.champ-teams-list p a{
  line-height: 24px;
}
.champ-title{
  color: #5c4b4b;
  font-size: 13px;
  font-weight: bold;
}
.champs{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
}
.champ-table{
  margin-left: 15px;
}
.champ-tours{
  margin-left: 15px;
  margin-right: 15px;
  max-width: 360px;
}
.champ-tours table{
  border-collapse: collapse;
}
.champ-tours b{
  font-size: 14px;
}
.champ-match-bomb{
  background: #bad9c8;
  margin-bottom: 5px;
  height: 35px;
}
.champ-match-title{
  background: #bad9c8;
}
.champ-match-title.match-date td{
  text-align: center;
  font-size: 15px;
  color: #5c4b4b;
  font-weight: bold;
}
.champ-back{
  margin-left: 15px;
}
.champ-back a {
  font-size: 14px;
  font-weight: bold;
  color: #893664;
  vertical-align: top;
}
.champ-back-arrow{
  display: inline-block;
  position: relative;
  margin: 5px auto;
  width: 20px;
  height: 5px;
  background: #936;
}
.champ-back-arrow:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 0;
}
.champ-back-arrow:before {
  top: -7px;
  left: -10px;
  border-right-color: #936;
}
.champs{
  margin-left: 15px;
}
.changeGameGoalPlayer{
  cursor: pointer;
}
.clubs-list{
  margin: 5px 15px 5px 15px;
  list-style-type: none;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap
}
.clubs-list li{
  page-break-inside: avoid;
  break-inside: avoid;
}
.container {
    position: relative;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1200px;
}
.content{
    flex: 1 0 auto;
    padding-bottom: 10px;
}
.content-404{
  display: flex;
}
.content-404 div{
  margin: auto;
}
.content-404 p{
  margin-top: 15px;
  font-size: 14px;
}
.choosed-player {
    font-weight: bold;
}
.countryTurnirActive {
    font-weight: bold;
    color: #000000;
    font-size: 14px;
}
.countryTurnirLink {
    font-weight: bold;
    color: #006600;
    font-size: 14px;
}
.data {
    background-color: #660033;
    color: #FFFFFF;
    font-weight: bold;
}
.datepicker-calend{
  display: none;
  top: 42%;
}
.datepicker-icon{
}
.ui-widget{
  z-index: 110;
}
.dropdown-inside {
    width: 100%;
    padding: 0;
    position: absolute;
    left: -9999px;
    background: #bb3388;
    z-index: 100;
 }
.dropdown-inside a:hover {
    background: #663377;
    text-decoration: none;
}
.ec-content{
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}
.ec-date{
  width: 30px;
}
.ecRounds {
    width: 200px;
    vertical-align: top;
}
.even {
    background-color: #CCCCCC;
}
.alert-error {
    color: red;
}
.goalsTable{
    width: 50px;
}
.header-login {
    width: 200px;
    text-align: center;
    display: inline-block;
}
.form-edit input{
  width: 1100px;
}
.form-notice span{
  font-size: 14px;
  color: green;
  font-weight: bold;
}
.footer{
  border-spacing: 20px 5px;
  padding-bottom: 15px;
  border-collapse: separate;
}
.footer-bottom a{
  color: #4a4040;
}
.footer-bottom td{
  font-size: 14px;
}
.img-champ-team{
  width: 35px;
  height: 50px;
}
.lastPlayerTitle {
    font-weight: bold;
    text-align: left;
}
.lch-teams {
    max-width: 900px;
    margin-left: 15px;
    margin-bottom: 10px;
    line-height: 20px;
}
.login-bar{
  display: none;
  margin-top: 10px;
  background: #936;
  height: 38px;
  width: 100%;
}
.login-bar-block{
  display: none;
  float: right;
  margin-right: 20px;
  padding-top: 10px;
}
.login-bar div a{
  color: #fff;
  margin-left: 15px;
}
.search-bar{
  display: none;
  margin-left: 10px;
  width: 200px;
}
.menu-login a{
  color: #fff;
}
.letters-list{
  margin: 15px;
  text-align: center;
}
.letters-list li{
  display: inline-block;
  margin: 3px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.list-item {
    font-weight: bold;
    color: #006600;
    font-size: 14px;
}
.list-item div {
    background-color: #fff;
}
.logo {
    display: inline-block;
}
.logo img {
    width: 70px;
    height: 65px;
}
.logo-a {
    display: inline-block;
}
.logo-text {
    display: block;
    width: 180px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}
.logo-text-a {
    display: inline-block;
    width: 85%;
    top: 0;
}
.main-content{
  display: table-cell;
  padding-left: 5px;
}
.main_menu {
    position: relative;
    left: 70px;
    top: 5px;
}
.matches-number-title{
  background-color: #6fbd71;
}
.matches-page-block{
  display: inline-block;
}
.menu {
    width: 100%;
    height: 30px;
    background-color: #990000;
    text-align: center;
}
.menuPrimary li.dropdown-top {
    width: 17%;
    height: 40px;
    text-align: center;
    display: inline-block;
}
.menuPrimary {
  margin: 0;
}
.search-top{
  display: inline-block;
  width: 200px;
}
.menu-login{
  display: inline-block;
  margin-left: 30px;
  width: 100px;
  color: #fff;
  vertical-align: top;
}
.menu-trigger {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 5000;
}

.menu-trigger-icon {
    top: 50%;
    left: 10px;
    right: 10px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

.menu-trigger-icon:before, .menu-trigger-icon:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    height: 100%;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    transform: translate(0, -10px);
    -webkit-transition: -webkit-transform 0.2s linear;
    -moz-transition: -moz-transform 0.2s linear;
    transition: transform 0.2s linear;
}

.menu-trigger-icon:after {
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
}
.mobile-main-content{
    display: none;
}
.mundialGoal {
    width: 800px;
    font-size: 11px;
}
.mundialMatch {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #006600;
}
.nav > li > a{
  padding: 5px 15px;
}
.navbar{
  min-height: 30px;
}
.navbar-nav.submenu li a{
  color: #936;
  font-weight: bold;
  font-size: 14px;
}
.newmatches {
    vertical-align: top;
}
.newMatchTd {
    width: 45%;
}
.news {
    font-size: 16px;
    line-height: 1.5;
}
.newsLinkFull {
    color: #006600;
}
.nhl-sections{
  display: flex;
  width: 100%;
  height: 35px;
  background-color: #936;
}
.nhl-sections div{
  display: block;
  margin: auto;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
.nhl-sections .selected{
  background-color: #db7fb0;
}
.nhl-matches{
  display: flex;
}
.nhl-matches-table{
  margin: auto;
  max-width: 760px;
}
.odd {
    background-color: #e3e1e3;
}
.panel-box {
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
    display: none;
}

.panel-box a {
    transition: all ease-in-out .2s;
}

.panel-box a:hover {
    opacity: .5;
}

.panel-box.open .menu-trigger-icon {
    background-color: transparent;
}

.panel-box.open .menu-trigger-icon:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.panel-box.open .menu-trigger-icon:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.panel-box.open {
    height: auto;
    bottom: 0;
}
.panel-box.open .panel-drop {
    display: block;
}
.panel-drop {
    display: none;
    position: absolute;
    top: 58px;
    margin: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    z-index: 500;
}
.panel-drop > ul {
    margin: 0;
    padding: 20px 0 0 0;
}

.panel-drop > ul > li {
    padding: 0 15px;
    list-style-type: none;
    margin: 0 0 15px;
}

.panel-drop > ul > li > a {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.panel-drop > ul > li > a:hover {
    text-decoration: none;
}

.panel-drop > ul > li > ul {
    padding: 15px 0 0 15px;
    margin: 0;
}

.panel-drop > ul > li > ul > li {
    list-style-type: none;
}

.panel-drop > ul > li > ul > li > a {
    color: #fff;
}
.playerClub {
    width: 170px;
}

.paramColumn {
    width: 80px;
}
.playerListBorn {
    text-align: center;
    font-size: 14px;
}
.playerListGame {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 35px;
}
.playerListGame a{
  color: #000;
}
.playerListName {
    width: 200px;
}
.playerListTotal {
    width: 60px;
}
.playerListTotalGame {
    width: 30px;
    text-align: center;
}
.playername {
    color: #663300;
    font-weight: bold;
    font-size: 22px;
}
.player-name{
  width: 200px;
}
.playerStatTable {
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    background-color: #FFFFFF;
}
.playerStatTable td{
    font-size: 14px;
}
.player-club{
  width: 200px;
}
.player-goal{
  width: 25px;
}
.player-position{
  text-align: center;
  width: 20px;
  font-weight: bold;
  font-size: 15px;
  color: #82376a;
}
.player-season {
    width: 70px;
}
.player-stat-top-5 {
    /*width: 500px;*/
}
.player-turnir {
    max-width: 170px;
}
.players-list tr{
  height: 25px;
}
.plusMinus {
    font-size: 16px;
}
.position-table{
    font-size: 13px;
    padding-left: 5px;
    width: 15px;
}
.primaryFone {
    width: 100%;
    display: table;
}
.profile-button-edit {
    margin-top: 10px;
    color: #936;
    font-weight: bold;
    background: #9bf2a4;
    border: 2px solid #fff;
    border-radius: 6px;
    height: 25px;
}
.profile-show-data {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border: #936 2px solid;
    border-radius: 5px;
}
.profile-show-label {
    width: 150px;
    font-size: 16px;
    height: 30px;
}
.profile-show-value {
    font-weight: bold;
    font-size: 16px;
    width: 150px;
}
.reg-form{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.reg-form > div{
  margin-left: auto;
  margin-right: auto;
}
.reg-form div div:not(:last){
  text-align: center;
  display: table-row;
}
.reg-form form{
  display: table;
  margin: auto;
}
.reg-form input{
  display: table-cell;

}
.reg-form label{
  font-weight: bold;
  display: table-cell;
  padding: 10px 0 10px 0;
}
.reg-form li{
  list-style-type: none;
  color: red;
}
.reg-submit {
    width: 130px;
    height: 30px;
    background: #006600;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #006600;
    margin-bottom: 15px;
}
.reg-submit-container{
  display: block;
  margin-top: 15px;
}
.registerLink {
    color: #edde34;
    font-weight: bold;
    }
.right_column {
    display: inline-block;
    width: 372px;
    text-align: center;
}
.row.footer{
  margin-left: 0;
  margin-right: 0;
}
.search_keywords{
  background: url("../images/searchH2.png") 10px 50% no-repeat transparent;
  background-color: #fff;
  box-sizing: border-box;
  padding-left: 35px;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 30px;
  width: 190px;
  border: 0;
}
.search-btn{
  background: url("../images/searchIcoH2.png") -23px 50% no-repeat transparent;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  height: 30px;
  border: none;
  width: 50px;
  position: absolute;
  margin-top: 3px;
}
.search-btn-old{
    border: 1px solid #c1c1c1;
    box-sizing: border-box;
    text-indent: -9999px;
    display: inline-block;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 20px;
    width: 26px;
    background: #bec0c8 url("../images/bg_searchbtn.png") no-repeat 50% 50%;
}
.seasons {
    text-align: left;
    margin: 8px;
    font-size: 14px;
}
.seasons a{
  margin-right: 5px;
}
.scBomb {
    width: 600px;
    font-size: 13px;
}
.container {
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.scMatch {
    width: 400px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #128746;
}
.scScore {
    width: 100px;
    text-align: center;
    color: #003399;
    font-weight: bold;
}
.scCity {
    width: 120px;
}
.scLink{
  vertical-align: top;
  display: inline-block;
}
.scSeason {
    width: 35px;
    text-align: center;
}
.search_result{
    position: absolute;
    overflow: hidden;
    border: 0;
    z-index: 1099;
    padding: 0;
    margin: -1px 0 0 0;
    font-size: 13px;
    top: 29px;
    bottom: auto;
    width: 200px;
    height: auto;
    left: auto;
    display: none;
}
.search_result_items{
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #a2a9b1;
    padding: 0;
    margin: 0;
    text-align: left;
}
.search_result .search_result_items a{
    color: #000;
    text-decoration: none;
    text-align: left;
    display: block;
    margin: 5px;
    font-size: 14px;
}
.search_result .search_result_items a:hover{
    background-color: #936;
    color: #fff;
}
.sidebar-date{
  background-color: #660033;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}
.shipTable {
    text-align: center;
    border: 0;
    padding: 0;
}
.shipTable tr{
  height: 20px;
}
.shipTableParams {width: 20px}
.shipTableTeam {
    font-weight: bold;
    color: #000000;
}
.sidebarMenu {
    width: 140px;
    vertical-align: top;
    background: #ad3774;
}
.sidebarMenu a {
    color: #fff;
    font-weight: bold;
}
.sidebarMenu li {
    line-height: 16px;
}
.sidebarMenu a:hover {
    text-decoration: none;
}
.sidebarMenu ul{
    list-style-type: none;
    line-height: 30px;
    display: block;
    padding: 10px 0 10px 10px;
}
.sidebarMenu li:hover {
    background: #de59bf;
}
.shipTable .spiski, .shipTable .bombTeam{
  text-align: left;
}
.shipTableTitle {
    background-color: #6fbd90;
}
.shipTableTitle th{
    background-color: #6fbd90;
    padding: 4px;
    text-align: center;
}
.soglasie {
    background: #fff;
    font-size: 14px;
    margin: 20px;
    text-indent: 15px;
}
.soglasie h1 {
    text-align: center;
}
.soglasie p {
    margin: 15px;
    text-align: justify;
}
.soglasie-link {
  color: #665656;
}
.spiski {
    font-weight: bold;
    color: #006600;
    font-size: 14px;
}
.spiski.selected{
  color: red;
}
.tabs {
position: relative; /* Относительное позиционирование */
}
.tab, .tab-title {
display: inline-block; /* Выстраиваем по горизонтали */
}
.tab input[type="radio"] {
  display: none;
}
.tab-title {
  background: #fff; /* Цвет фона */
  padding: 5px 10px; /* Поля вокруг текста */
  border-radius: 5px;
  border-bottom: none; /* Снизу линию убираем */
  font-weight: bold;
}
.tab-content {
  padding: 10px; /* Поля вокруг текста */
  width: calc(100% - 20px); /* Ширина содержимого */
  display: none; /* Прячем вкладку */
}
.tab :checked + .tab-title {
  position: relative; /* Относительное позиционирование */
  background: #936; /* Цвет фона */
  /*top: 1px;*/ /* Сдвигаем вниз */
  color: #fff;
}
.team-country{
  margin: 10px;
  font-size: 13px;
}
.teams-list{
  margin: 5px;
}
.teams-list a{
  display: inline-block;
  background: #c1e3c8;
  border: 1px solid #060;
  border-radius: 4px;
  color: #060;
  padding: 4px;
  font-weight: bold;
  margin-bottom: 5px;
}
.champ-team-column{
  font-size: 13px;
  text-align: center;
}
.total-game{
  font-size: 14px;
}
.shipplayer-input{
  width: 25px;
}
.showTeam{
  display: inline-table;
  margin-left: 45px;
}
.stadia-name {
    font-weight: bold;
    font-size: 14px;
}
.stadia-name a {
    color: #F55;
}
.tableGoal {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 45px;
}
.tableGoal.shipplayer-game{
  width: 80px;
}
.tableGoal.column-supercup{
  width: 80px;
}
.tableLeft {
    text-align: left;
    width: 190px;
}
.table-row{
    height: 25px;
}
.table-score{
  font-weight: bold;
  font-size: 14px;
}
.task-current{
  background-color: #366;
  color: #fff;
}
.task-current a{
  color: #fff;
}
.task-list{
  margin: 10px 10px 0 10px;
}
.task-list table{
  width: 100%;
  border: 1px solid;
  border-spacing: 5px;
}
.task-list table th{
  background-color: #6fbd90;
  padding: 4px;
}
.task-list table td{
  padding: 4px;
  font-size: 14px;
}
.task-list-id{
  width: 30px;
  text-align: center;
}
.task-list-date{
  width: 100px;
}
.teamColumn {
    width: 100px;
}
.teamlch {
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
}
.teamNameSostav {
    font-style: italic;
    font-weight: bold;
}
.teamPlayers {
    width: 60px;
}
.teams-lch-column {
    vertical-align: top;
}
.team-show-image{
  display: flex;
}
.team-show-image-mobile{
  display: none;
}
.team-show-image div, .team-show-image-mobile div{
  margin: auto;
}
.team-show-image img, .team-show-image-mobile img{
  display: block;
  margin: auto;
}
.teamStat {
    vertical-align: top;

}
.teamStatGoal {
  padding: 4px;
    min-width: 35px;
}
.teamStatTotalGoal {
  padding: 4px;
    min-width: 55px;
}
.teamStatPlayer {
    width: 230px;
}
.title_news {
    color: #936;
    font-weight: bold;
    font-size: 16px
}
.top-menu {
    display: inline-block;
    width: 92%;
    position: absolute;
    top: 15px;
}
.visit_card_player {
    vertical-align: top;
    width: 300px
}
.vote-active {
    border: 3px solid yellow;
}
.vote_author_notice {
    display: block;
}
.vote-button {
    display: inline-block;
    margin: 60px 0 0 15px;
    width: 75%;
}
.vote-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.vote-form-players {
    display: inline-block;
}
.vote-img {
    display: block;
    width: 100%;
    height: 140px;
    margin: 0;
    padding: 0;
}
.vote-img-result {
    width: 80px;
    height: 100px;
}
.vote-item {
    display: inline-block;
    cursor: pointer;
    width: 130px;
    border: 1px solid #336633;
    border-radius: 5px;
    margin: 5px;
    background: #e8a268;
}
.vote-list-1 {
    border: 5px solid #990000;
}
.vote-members {
    font-size: 13px;
    text-align: center;
    color: #006600;
    margin: 15px;
}
.vote-members span {
    font-weight: bold;
    font-size: 15px;
}
.vote-name {
    margin: 0;
    padding: 0;
}
.vote-notice {
    display: block;
    background: #fff;
    border: 1px solid #993366;
    border-radius: 5px;
    font-size: 14px;
    text-indent: 10px;
}
.vote-notice p {
    margin-left: 10px;
}
.vote-result {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.vote-result td {
    border: 1px solid #fff;
}
.vote-result-content h1 {
    text-align: center;
    color: #993366;
}
.vote-result-item {
    background: #fff;
}
.vote-result-seat {
    color: #006600;
    width: 20px;
    text-align: center;
    font-weight: bold;
}
.vote-row {
    width: 100%;
}
.vote-score {
    color: #006600;
    font-weight: bold;
    font-size: 16px;
    width: 30px;
    text-align: center;
}
.vote-seat {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.vote-seat input {
    margin-bottom: 15px;
}
.vote-seat span {
    display: block;
    color: #993366;
    font-weight: bold;
}
.vote-submit {
    display: none;
    width: 130px;
    height: 30px;
    background: #006600;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #006600;
    margin-bottom: 15px;
}
.voteplayer {
    font-weight: bold;
    font-size: 11px;
    color: #993366;
    text-align: center;
}
.voteplayer-result {
    font-weight: bold;
    font-size: 16px;
    color: #993366;
    width: 200px;
}
.winsTable {
    width: 20px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.zagolovok {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
