@media (max-width: 1130px) {
  .menuPrimary li.dropdown-top{
    width: 25%;
  }
  .search_result{
    position: absolute;
    top: 110px;
    bottom: auto;
    left: 10px;
    right: auto;
  }
}

@media (min-width: 992px) {
  /*header .col-md-7{
    width: 53.33333333%;
  }
  header .col-md-2.search-block{
    width: 21.66666667%;
  }*/
}
@media (max-width: 1600px) {
  .menu-login {
    display: block;
  }
  .menu-login .btn-xs {
    height: 25px;
  }
  .login-block {
    display: flex;
    align-items: center;
    height: 65px;
  }
  .menu-login .btn-xs {
    height: 25px;
    margin: 3px 0;
  }
}

@media  (max-width: 1399px) {
  .header-navigation__link.flex_a {
    margin-left: 35px;
  }
}

@media (max-width: 1242px) {
    .search-block, .login-block{
        display: none;
    }
    .login-bar-block, .search-bar{
        display: inline-block;
    }
    .login-bar{
        display: block;
    }
    header .col-md-7.menu_top {
      width: 80%;
    }
}

@media (min-width: 879px) and (max-width: 991px) {
  .news_index.col-xs-12 {
    width: 60%;
  }
  .sidebar.col-xs-12 {
    width: 40%
  }
}

@media (max-width: 923px) {
  .champ-country{
    display: none;
  }
}
@media (max-width: 878px) {
  .sidebar.col-xs-12 {
    width: 100%
  }
}

@media (max-width: 852px) {
  .champ-born{
    display: none;
  }
}
@media (max-width: 829px) {
  header .col-md-7.menu_top {
    margin-left: 5px;
    width: 83%;
  }
  .header-navigation__link.flex_a {
    margin-left: 0;
  }
}

@media (max-width: 769px) {
  .sidebarMenu{
    display: none;
  }
    .champ-total-all, .nation-all{
      display: none;
    }
    .main-content{
        display: none;
    }
    .mobile-main-content{
        display: block;
    }
    .sidebar, .right_column, .leader-table{
        width: 100%
    }
    .navbar-nav>li>a {
      padding-top: 0;
      padding-bottom: 0;
    }

    .header-navigation__link.flex_a {
      position: absolute;
      top: 11px;
      right: 60px;
    }
}


@media (max-width: 769px) {
    .panel-box { 
      display: block; 
    }
    header { 
      display: none; 
    }
    .logo {
      width: 60px;
      height: 55px;
    }
    #navbar-collapse-1 .navbar-nav > li > a{
      padding: 5px 0;
    }
}

@media (max-width: 690px) {
    .champ-total-club{
      display: none;
    }
}


@media (max-width: 660px) {
    .nation-champs{
      display: none;
    }
}

@media (max-width: 520px) {
    .nation-cups{
      display: none;
    }
}

@media (max-width: 459px) {
  .login-bar {
    height: auto;
  }
  .login-bar-block, .search-bar {
    display: block;
    margin-left: 10px;

  }
  .login-bar-block {
    padding-bottom: 10px;
    float: none;
  }
}

@media (max-width: 435px) {
    .logo-text-a {
        display: none;
    }
    .footer-question{
      display: none;
    }
}
@media (max-width: 415px) {
  .team-show-image-mobile{
    display: flex;
  }
  .showTeam{
    margin-left: 5px;
  }
  .h1{
    display: block;
  }
}
