@media (max-width: 1130px) {
  .menuPrimary li.dropdown-top{
    width: 25%;
  }
  .search_result{
    position: absolute;
    top: 110px;
    bottom: auto;
    left: 10px;
    right: auto;
  }
}

@media (min-width: 992px) {
  header .col-md-7{
    width: 53.33333333%;
  }
  header .col-md-2.search-block{
    width: 21.66666667%;
  }
}
@media (max-width: 1600px) {
  .menu-login {
    display: block;
  }
  .menu-login .btn-xs {
    height: 25px;
  }
  .login-block {
    display: flex;
    align-items: center;
    height: 65px;
  }
  .menu-login .btn-xs {
    height: 25px;
    margin: 3px 0;
  }
}

@media (max-width: 1175px) {
    .search-block, .login-block{
        display: none;
    }
    .login-bar-block, .search-bar{
        display: inline-block;
    }
    .login-bar{
        display: block;
    }
    header .col-md-7.menu_top {
      width: 90%;
    }
}
@media (max-width: 923px) {
  .champ-country{
    display: none;
  }
}
@media (max-width: 852px) {
  .champ-born{
    display: none;
  }
}

@media (max-width: 768px) {
  .sidebarMenu{
    display: none;
  }
    .champ-total-all, .nation-all{
      display: none;
    }
    .main-content{
        display: none;
    }
    .mobile-main-content{
        display: block;
    }
    .sidebar, .right_column, .leader-table{
        width: 100%
    }
}


@media (max-width: 769px) {
    .panel-box { 
      display: block; 
    }
    header { 
      display: none; 
    }
    .logo {
      width: 60px;
      height: 55px;
    }
    .login-bar-block .btn-xs span{
        display: none;
    }
    .navbar-nav>li>a {
      padding-top: 0;
      padding-bottom: 0;
    }
}

@media (max-width: 690px) {
    .champ-total-club{
      display: none;
    }
}


@media (max-width: 660px) {
    .nation-champs{
      display: none;
    }
}

@media (max-width: 520px) {
    .nation-cups{
      display: none;
    }
}

@media (max-width: 435px) {
    .logo-text-a {
        display: none;
    }
    .footer-question{
      display: none;
    }
}
@media (max-width: 415px) {
  .team-show-image-mobile{
    display: flex;
  }
  .showTeam{
    margin-left: 5px;
  }
  .h1{
    display: block;
  }
}
