body {
  font-family: DejaVu Sans;
  font-size: 10px;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
thead {
  border-bottom: 1px solid #002;
}
p {
  margin: 0;
}
.textcols {
  text-indent: 10px;
  /*column-width: 48%;
  column-count: 3;
  column-gap: 4%;*/
  text-align: justify;
  margin-bottom: 15px;
  display: block;
}
.article-title {
  text-align: center;
  color: #936;
}
.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.emblem-turnir {
  height: 30px;
}
.eurocup-matches {
  border: 2px solid #000;
  padding: 5px;
  line-height: 1.5;
}
.eurocup-matches-sostav {
  font-size: 9px;
  border: 2px solid #000;
  width: 47%;
  height: 170px;
  margin: 3px;
  display: inline-block;
}
.eurocup-matches-sostav-block {
  margin: 10px 0 10px 0;
}
.eurocup-matches-sostav-title {
  text-align: center;
  position: relative;
  margin-bottom: 5px;
}
.eurocup-matches-sostav-title img {
  height: 30px;
}
.match-team-img {
  float: left;
}
.match-team2-img {
  position: absolute;
  top: 25px;
  right: 5px;
}
.match-info {
  margin-top: 5px;
  font-weight: bold;
}
.match-sostav {
  margin: 5px;
  text-align: justify;
}
.np-champ-matches{
}
.np-matches-team{
  font-weight: bold;
}
.np-title{
  text-align: center;
}
.np-title img {
  width: 100%;
}
.np-title div {
  position: relative;
  display: inline-block;
}
.prime-bottom-blocks {
  margin-top: 5px;
  padding-top: 20px;
  width: 100%;
  display: none;
}
.prime-bottom-blocks div {
  display: inline-block;
  border: 3px solid #936;
  border-radius: 10px;
  height: 180px;
  width: 30%;
  padding: 5px;
}
.prime-image img {
  width: 100%;
}
.prime-image-title {
  display: block;
  text-align: center;
  font-size: 28px;
  color: #936;
  font-weight: bold;
  height: 100px;
}
.title-emblem {
  text-align: center;
}
.title-emblem img {
  float: left;
}
.title-number {
  position: absolute;
  left: 95px;
  bottom: 5px;
  font-size: 11px;
  color: green;
}
.title-year {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #ffc;
  position: absolute;
  right: 168px;
  bottom: 16px;
  font-size: 20px;
}
.top-line {
  background-color: #936;
  color: #fff;
  font-weight: bold;
  height: 20px;
  margin: 15px 5px 0 35px;
  line-height: 20px;
}

.match-sostav-title {
  background: #5fc29e;
  height: 20px;
  border-bottom: 2px solid #000;
}
.match-sostav-title span {
  line-height: 20px;
}
.match-main-info {
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    width: 200px;
}
.shipTable {
  border: 1px solid #000;
  font-weight: bold;
  text-align: center;
}
.odd {
    background-color: #e3e1e3;
}
.winsTable {
    width: 20px;
}
.tableLeft {
    text-align: left;
    width: 160px;
}
.champ-table {
  display: inline-block;
  width: 47%;
  vertical-align: top;
  margin-left: 5px;
  margin-top: 5px;
}
.champ-rus-bomb {
  border: 1px solid #002;
}
.calendar {
  border: 1px solid #002;
  margin-top: 5px;
  text-align: center;
}
.calendar-title {
  font-weight: bold;
  border-bottom: 1px solid #002;
  background-color: #e3e1e3;
  text-align: center;
  text-transform: uppercase;
}
.bomb-numb-goals {
  width: 10%;
  text-align: center;
}
.article-img {
  float: left;
  width: 180px;
  margin-top: 10px;
}
.ec-group {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  border: 1px solid #002;
  margin-top: 5px;
}
.lch-match {
  display: block;
  width: 95%;
  border-bottom: none;
  margin: 0 auto;
  border: none;
}
.lch-group-name {
  color: #5c4a4a;
  font-weight: bold;
  margin: 5px 0;
  text-align: center;
}
.lch-table {
  width: 98%
}
.lch-table .shipTable {
  border: none;
}
.ec-matches-tomm {
  text-align: center;
}
.goalsTable {
  width: 40px;
}
.np-number {
  font-size: 16px;
}
.mund-group {
  display: inline-block;
  width: 385px;
  margin-left: 10px;
}
.mund-article {

}
.mund-match {
  height: auto;
}
footer {
  background-color: #cfbaba;
  margin-top: 10px;
  height: 20px;
  text-align: center;
}
footer div {
  line-height: 20px;
}
footer div span {
  margin: 0 20px;
}
.np-number span {
  float: right;
}
