{% block body %}
  <table>
    {% for team, score in rating %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ team }}</td>
        <td>{{ score }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
