{% extends 'shiptable/index.html.twig' %}

{% block title %}
   Статистика чемпионатов {{ rusCountry }}
{% endblock %}

{% block seasons %}
{% endblock %}

{% block content %}

 <div class="main-content">
        {{ include('stat/data.html.twig', { 'topMatchesRus': topMatchesRus,
        'topMatchesRusCurr': topMatchesRusCurr,
        'topGoalsRus': topGoalsRus,
        'topGoalsRusCurr': topGoalsRusCurr,
        'topGoalkeepers': topGoalkeepers,
        'topGoalkeepersCurr': topGoalkeepersCurr,
        'maxAgePlayers': maxAgePlayers,
        'minAgePlayers': minAgePlayers }) }}
 </div>
{% endblock %}
