{% extends 'base.html.twig' %}

{% block title %}
    Согласие на обработку персональных данных
{% endblock %}

{% block content %}
    <div class="soglasie">
        <h1>Согласие на обработку персональных данных</h1>
     <p>Настоящим, я (далее – Лицо), даю свое согласие ИП Белкин Алексей Николаевич (далее – Компания)
     на обработку своих персональных данных, указанных при регистрации на сайте Компани иили
     любого другого способа обращения в компаниию (далее Заказ), и коммуникации со мной в рамках
     обработки моего обращения, а также иных сопряженных с этим целей в рамках действующего
     законодательства РФ и технических возможностей Компании.</p>

<p>Обработка персональных данных Лица может осуществляться с помощью средств автоматизации и/или без
использования средств автоматизации в соответствии с действующим законодательством РФ и
положениями Компании. Настоящее согласие Лица на обработку его/ее персональных данных, указанных
при регистрации на сайте Компании, направляемых (заполненных) с использованием настоящего сайта,
действует с момента регистрации на сайте Компании до момента удаления своего аккаунта. Согласие на
обработку персональных данных, указанных при регистрации на сайте Компании, направляемых
(заполненных) с использованием настоящего сайта, может быть отозвано Лицом при подаче
заявления (отзыва) в Компанию по е-mail: info@sokolstat.ru. Обработка персональных данных Лица прекращается в течение 2 месяцев
с момента получения Компанией заявления (отзыва) Лица и/или в случае достижения цели
обработки и уничтожается в срок и на условиях, установленных законом, если не предусмотрено иное.
Обезличенные персональные данные Лица могут использоваться Компанией в статистических (и иных
исследовательских целей) после получения заявления (отзыва) согласия, а также после достижения
целей, для которых настоящее согласие было получено.</p>

<p>Данный сайт позволяет ИП Белкин Алексей Николаевич получать информацию, содержащую персональные
данные Лица, а именно фамилия имя отчество, адрес электронной почты, а также другие персональные
данные, которые могут использоваться для идентификации Лица ("Ваши персональные данные"), в
случае, если Лицо добровольно предоставляет ее компании.</p>

<p>Лицо даёт согласие ИП Белкин Алексей Николаевич, на обработку своих персональных данных, а именно:
фамилия имя отчество, адрес электронной почты, а также всех персональных данных, которые
необходимы для связи с Лицом и оформление договора на оказание информационных услуг.</p>

<p>В целях исполнения обязательств по договору Лицо предоставляет ИП Белкин Алексей Николаевич право
осуществлять любые действия (операции) со своими персональными данными без ограничения: сбор,
запись, учет, систематизацию, хранение, уточнение (обновление, изменение), извлечение, накопление,
обезличивание, блокирование, удаление, уничтожение; использование в статистических целях, в целях
проведения анализа, в целях информирования Лица (с передачей по SMS или электронной почтой) о
продуктах и услугах Компании, а также осуществлять любые иные действия с учетом действующего
законодательства.</p>

<h3>Правила конфиденциальности</h3>

<p>Любая иная информация, передаваемая Лицом в связи с посещением сайта ("Иная информация", которая
не является персональными данными Лица и не может использоваться для идентификации Лица) может
включаться в базы данных, которые принадлежат ИП Белкин Алексей Николаевич или их представителям.
ИП Белкин Алексей Николаевич сохраняет все права на эти базы данных и информацию, которая в них
хранится. Иная информация, которую мы собираем, может включать Ваш IP-адрес и прочую информацию,
собираемую посредством cookie-файлов (см. ниже).</p>

<p>Данный сайт может использовать технологию, известную как cookie-файл. Сookie-файл - это сообщение,
которое веб-сервер высылает на компьютер Лица, когда Лицо заходит на сайт. При повторном
посещении, наш сайт проверит, имеется ли на компьютере Лица один из наших сookie-файлов.
Наши cookie-файлы увеличивают функциональность сайта и помогают нам более точно анализировать,
как используется сайт.</p>

<p>Данный сайт использует адреса Интернет-протокола (IP). IP-адрес - это номер, присваиваемый
компьютеру Интернет-провайдером для доступа к Интернету. Обычно IP-адрес изменяется всякий раз,
когда вы входите в Интернет (это "динамичный" адрес). Тем не менее, если используется
высокоскоростное соединение, в зависимости от обстоятельств, возможно, что IP-адрес или даже
cookie-файл, который мы используем, содержит идентифицируемую информацию. Это происходит потому,
что при некоторых видах высокоскоростного соединения Ваш IP-адрес не изменяется ("статичен") и
может ассоциироваться с компьютером Лица. Мы используем IP-адрес Лица для сообщения общей
информации по использованию сайта, а также для его доработки.</p>

<p>Лицо обязано покинуть данный сайт, если не хочет, чтобы вышеперечисленные данные (cookie,
данные об IP-адресе) обрабатывались.</p>

<p>Для удаления информации о Лице из наших контактных списков, необходимо обращаться по е-mail:
info@sokolstat.ru.</p>

<p>Лицо может продолжать получать материалы, пока ведется обновление наших списков.
Периодически Правила конфиденциальности веб-сайта могут обновляться. После обновления данные
правила будут доступны на настоящей странице.</p>
</div>

{% endblock %}
