<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>
            {% block title %}
                Футбольная статистика, чемпионаты, кубки, еврокубки
            {% endblock %}
        </title>
            {% block description %}
                <meta name="description" content="Футбольная статистика, лучшие бомбардиры пяти ведущих
                    чемпионатов, дни рождения футболистов, ближайшие и прошедшие матчи">
            {% endblock %}
        <meta name="yandex-verification" content="7321bd4fcece7b51" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

          <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>

    <body>





   </body>
</html>
